.DS_Store
node_modules
/node_modules
.history
dist
.next
out
.env
*.un~   
*.swp
*.swo   
*.log
build
/dock
.env.local
.env.development.local
.env.development     
.env.test.local
.env.production.local
package-lock.json
